* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("images/headphones_hero_1.jpg");
    background-attachment:fixed;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section {
    align-items: center;
    text-align: center;
}

/* ============ Header=========*/
.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    flex-wrap: wrap;

}

.what-we-do {
    display: flex;
    flex-direction: row;
    justify-content: center space-around;
}