:root {
  --color-primary: #D73953;
  --color-black:  #090909;
  --color-white: #ffffff;
  --color-grey: #a0a0a0;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;

  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.3rem;
  --font-size-xx-large: 4.8rem;

  --font-weight-regular: 100;
  --font-weight-bold: 700;

  --line-height-small: 1.2;
  --line-height-base: 1.5;
  --line-height-big: 1.8;

  /** SECTION **/
  --section-padding: 5rem 0;
  --section-header-padding: 0 0 3rem;
  --section-header-align: center;
  --section-title-font-size: var(--font-size-xx-large);
  --section-title-font-weight: var(--font-weight-bold);
  --section-title-line-height: var(--line-height-small);
  --section-title-margin: 0;
  --section-title-color: var(--color-black);
  --section-tagline-transform: uppercase;
  --section-tagline-color: var(--color-primary);
  --section-tagline-font-family: var(--font-family-headings);
  --section-tagline-font-weight: var(--font-weight-bold);
  --section-tagline-margin: 0;
  --section-body-padding: 2rem 0 4rem;
  --section-footer-padding: 3rem 0 0;
  --section-footer-align: center;

  /** HEADER **/

  --header-padding: 4rem 0 0;


  /** FOOTER **/
  --footer-padding: 5rem 0 1rem;

  /** NAVBAR **/
  --nav-item-font-family: var(--font-family-headings);
  --nav-item-font-weight: var(--font-weight-bold);
  --nav-item-font-size: var(--font-size-medium);
  --nav-item-letter-spacing: .04rem;
  --nav-item-display: inline-block;
  --nav-item-margin: 0 0 0 2rem;
  --nav-item-link-hover: var(--color-white);

  /** BUTTON **/
  --button-display: inline-block;
  --button-padding: 1.5rem 3rem;
  --button-border: var(--color-primary) solid 0.2rem;
  --button-color: var(--color-black);
  --button-text-decoration: none;
  --button-font-size: var(--font-size-large);
  --button-hover-color: var(--color-white);
  --button-hover-text-decoration: none;
  --button-hover-background: var(--color-primary);

  /** MOTION **/
  --transition-duration: .3s;
  --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);
}

/* Base
    ============================= */

*, *:before, *:after {
  box-sizing: border-box;
}

html {
scroll-behavior: smooth;
font-size: 62.5%;
}

@font-face {
  font-family:'sanspro';
  src: url("./fonts/source-sans-pro/SourceSansPro-Regular.otf") format('opentype');
}
body {
  color: var(--text-color);
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
}


a {
  color: var(--text-color);
  text-decoration: none;
}

a:visited {
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: var(--color-light-grey);
}

.button {
  display: var(--button-display);
  padding: var(--button-padding);
  border: var(--button-border);
  font-size: var(--button-font-size);
  color: var(--button-color);
  text-decoration: var(--button-text-decoration);
}

.button:hover {
  color: var(--button-hover-color);
  text-decoration: var(--button-hover-text-decoration);
  background: var(--button-hover-background);
  transition-duration: var(--transition-duration);
  transition-property: color, background-color;
}


section { 
    height: 100vh; /* Set each section to at least the height of the viewport */
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px;
}

header {
  background-image: url("./images/Object.png");
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  color: white;
  height: 170vh;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  word-spacing: 50px;
}
.header-links {
  display: flex;
  justify-content: space-evenly;
  word-spacing: 50px;
}
ul {
  list-style: none;
  color: white;
  padding: 60px;
  word-spacing: 50px;
}

.main-page-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-schooled {
  font-size: 70px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
  margin-top: 80px;
}

.smile-grain-laugh {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-spacing: 50px;
  height: 25px;
}

button {
  color: white;
  background-color: #c271ff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 200px;
  height: 45px;
  align-content: center;
  margin-top: 60px;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin-top: 100px;
}


span {
  color: #c271ff;
  font-weight: bold;
}

.the-pros {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 1000px;
  margin: 50px;

}

.pros-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.weather-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  margin-left: 200px;
}
.qoute {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #c271ff;
  height: 50vh;
}
.quote-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  align-items:center;
  color: white;
  width: 600px;
  margin-right: 170px;
}

.quote-author {
  text-align: left;
  font-weight: bold;
}

.author-name {
  font-style: italic;
}

.video {
  width: 100%;
}

.video-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between center;
  align-items: center;
  text-align: right;
}
.photo-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 40px;
}


.top-photo {
  position: absolute;
  top: 10;
  left: 10;
  z-index: 1; 
  padding: 45px;
}

.video-text {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-right: 150px;
}

.video-text-1 {
  display: flex;
  justify-content: space-between center;
  text-align: left;
}
