body, main {
    display:flex;
}
body { 
    flex-direction: column;
}
main {
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}
table, th, td {
    border: 1px solid;
    font-style: italic;
    font-display: white;
    align-content: center;
}
table {
    width: 25%;
    text-align: center;
}
h1 {
    background-color: black;
    font-style: italic;
    color: white;
}
li {
    color: blue;
}
.class-special{
    color: blueviolet;
}